.bgmMaker {
  border: 1px solid #fff;
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 10;
}
.bgmMaker__remove-icon {
  width: 30px;
  width: 30px;
  position: absolute;
  right: -15px;
  top: -15px;
  cursor: pointer;
}
