.Sidebar {
  border: 1px solid var(--sub-color);
  border-radius: 5px;
  box-shadow: 2px 2px 2px;
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: -260px;
  transition: all 0.4s;
  z-index: 10;
}
.Sidebar.open {
  left: 0;
}
.sidebar__title {
  font-size: 18px;
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
  height: 25px;
}
.sidebar-menu__item {
  border-radius: 5px;
  cursor: pointer;
}
.sidebar-menu__item:hover {
  background-color: #f0f0f0;
}
.sidebar-menu__item.selected {
  background-color: #f0f0f0;
}
.sidebar-menu-item__image {
  fill: var(--main-color);
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
