.CustomTime {
  z-index: 2;
  background-color: #fff;
  position: absolute;
  left: 120%;
  top: -50%;
  translate: 50% 0;
  border: 1px solid var(--sub-color);
  border-radius: 5px;
  box-shadow: 2px 2px 2px;
}
