.TrackMemo {
  background-color: #fff;
  position: relative;
  color: #333;
  border-radius: 5px;
}
.trackmemo__remove-icon {
  width: 30px;
  width: 30px;
  position: absolute;
  right: -15px;
  top: -15px;
  cursor: pointer;
}
.trackmemo__menu {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px;
  border: 1px solid var(--sub-color);
  position: absolute;
  top: -50px;
  z-index: 10;
  opacity: 0;
  animation: closeMenu 0.3s;
  color: var(--sub-color);
}
@keyframes closeMenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.trackmemo__menu.open {
  animation: appearMenu 0.3s;
  opacity: 1;
}
@keyframes appearMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.trackmemo__editor {
  width: 100%;
  height: calc(100% - 30px);
  line-height: 2em;
  border: 1px solid var(--sub-color);
  border-radius: 5px;
  box-shadow: 2px 2px 2px;
  color: var(--sub-color);
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: text;
}
.trackmemo__editor:focus {
  outline: none;
}
.trackmemo-menu__element-tool:hover {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.trackmemo-menu__element-tool:hover {
  background-color: #dcdcdc;
}
.trackmemo-menu__tool-item {
  color: var(--sub-color);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--sub-color);
  margin-left: 20px;
  cursor: pointer;
  padding: 0;
  object-fit: cover;
  opacity: 0.5;
}
.trackmemo-menu__tool-item img {
  width: 70%;
  height: 70%;
}

.trackmemo__element-menu {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px;
  border: 1px solid var(--sub-color);
  position: absolute;
  top: 50%;
  z-index: 10;
  opacity: 0;
  animation: closeMenu 0.3s;
  color: var(--sub-color);
  overflow-y: auto;
}
.trackmemo__element-menu.open {
  animation: appearMenu 0.3s;
  opacity: 1;
}
.track-element-menu__item {
  border-radius: 5px;
  cursor: pointer;
}
.track-element-menu__item.selected {
  background-color: #f0f0f0;
}
.track-element-menu__item:hover {
  background-color: #f0f0f0;
}
.track-element-menu__image {
  width: 56px;
  height: 56px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid var(--sub-color);
}
.track-element-menu__text-box {
  font-size: 12px;
}
.track-element-menu__text {
  opacity: 0.5;
}
.track-element-menu__item-title {
  color: var(--sub-color);
  font-size: 16px;
}

.trackmemo-sub-menu {
  position: absolute;
  top: 110%;
  left: 0;
  background-color: #fff;
  box-shadow: 2px 2px 2px;
  border-radius: 5px;
  color: var(--sub-color);
}
.trackmemo-sub-menu__item {
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.trackmemo-sub-menu__item.selected {
  background-color: #f0f0f0;
}
.trackmemo-sub-menu__item:hover {
  background-color: #f0f0f0;
}
.trackmemo-sub-menu__image {
  width: 25px;
  height: 25px;
  border: 1px solid var(--sub-color);
  margin-right: 5px;
}
