.ResInfo {
}
.resinfo__info-box {
  max-width: 1500px;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 2px 2px 2px;
}
.resinfo__headline {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  height: 15%;
}
.resinfo__descript {
  font-size: 20px;
}
