:root {
  --main-color: #8ddaeb;
  --main-pale-color: #eaf5f8;
  --sub-color: #ff9f47;
  --sub-pale-color: #ffe0c2;
  --second-color: #c1bdbd;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
