.Column {
  border: 3px solid var(--main-color);
  max-width: 1100px;
}
.column__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  height: fit-content;
  height: calc(15% - 20px);
}
.column__text {
  height: 85%;
  animation: appear 1s;
  overflow-wrap: break-word;
  overflow-y: auto;
}
.column__text.fade-out {
  animation: fade-out 1s;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
